<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Series, Shows de tv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Buscar</ion-label>
          <ion-input [(ngModel)]="query" (keyup.enter)="buscarPelicula()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let movie of movies" (click)="goToMovie(movie)">
            <ion-thumbnail slot="start">
              <img [src]="getPoster(movie.poster_path)">
            </ion-thumbnail>
            <ion-label   >
              <h2>{{movie.name}}</h2>
              <p>{{movie.overview}}</p>
            </ion-label>
          </ion-item>


        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
