<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  *ngIf="data.title">{{data.title}}</ion-title>
    <ion-title  *ngIf="data.name">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="getPoster()" />
    <ion-card-header>
      <ion-card-subtitle *ngIf="data.title">{{data.title}}  -  {{getYear()}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="data.name">{{data.name}}  -  {{getYear()}}</ion-card-subtitle>
      <ion-card-title *ngIf="data.original_title">{{data.original_title}}</ion-card-title>
      <ion-card-title *ngIf="data.original_name">{{data.original_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{data.overview}}
    </ion-card-content>
  </ion-card>
</ion-content>
