<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Buscar</ion-label>
          <ion-input [(ngModel)]="query" (keyup.enter)="buscarPelicula()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="abrirBusqueda()">Busqueda Avanzada</ion-button>
      </ion-col>
    </ion-row>
    <ion-grid *ngIf="avanzado">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="busqueda_avanzada.genre">
              <ion-select-option *ngFor="let ge of genres " value="{{ge.id}}" >{{ge.name}}</ion-select-option> 
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Año</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="busqueda_avanzada.year">
              <ion-select-option *ngFor="let ge of years " value="{{ge}}" >{{ge}}</ion-select-option> 
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="buscarPeliculaConfiltros()">Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let movie of movies" (click)="goToMovie(movie)">
            <ion-thumbnail slot="start">
              <img [src]="getPoster(movie.poster_path)">
            </ion-thumbnail>
            <ion-label   >
              <h2>{{movie.title}}</h2>
              <p>{{movie.overview}}</p>
            </ion-label>
          </ion-item>


        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
