

<ion-content [fullscreen]="true">

 
   <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center"> 
        <ion-icon name="eye-outline"  class="logo"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center"> 
       <h2 class="title"> See What...</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Buscar</ion-label>
          <ion-input [(ngModel)]="query" (keyup.enter)="busquedaMixta()"></ion-input>
          <ion-icon name="close" slot="end" (click)="clear()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px" *ngIf="buscando">
      <ion-col>
        <ion-card color="light" [routerLink]="['/movies']">
          <div class="img-wrapper">
            <img src="assets/cine.png" />
            
          </div>
          <ion-card-content class="ion-text-center">
            <h2>Peliculas</h2>
            <ion-text color="medium">
              <div style="display: flex;" class="ion-justify-content-center">
               
                <p>Peliculas,cortos, documentales...</p>
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px" *ngIf="buscando">
      <ion-col>
        <ion-card color="light" [routerLink]="['/series']">
          <div class="img-wrapper">
            <img src="assets/tv.jpg" />
            
          </div>
          <ion-card-content class="ion-text-center">
            <h2>Series</h2>
            <ion-text color="medium">
              <div style="display: flex;" class="ion-justify-content-center">
            
                <p>Series, cartoons, anime...</p>
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="buscando == false" >
      <ion-col>
         
          <ion-list>
            <ion-item *ngFor="let movie of results" (click)="goToMovie(movie)">
              <ion-thumbnail slot="start">
                <img [src]="getPoster(movie.poster_path)">
              </ion-thumbnail>
              <ion-label   >
                <h2 *ngIf="movie.title" >{{movie.title}}</h2>
                <h2 *ngIf="movie.name" >{{movie.name}}</h2>   
                <p *ngIf="movie.overview" >{{movie.overview}}</p>
              
              </ion-label>
            </ion-item>
  
  
          </ion-list> 
      </ion-col>
    </ion-row>
   
   </ion-grid> 
</ion-content>
